iml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.w3schools.com" xmlns="https://www.w3schools.com" elementFormDefault="qualified">



    <xsd:complexType name="complexSongs">
        <xsd:sequence>
            <xsd:element name="Anio" type="simpleTypeAnio"/>
            <xsd:element name="Pais" type= "complexTypePais" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="simpleTypeAnio">
        <xsd:restriction base="xsd:integer">        
            <xsd:minInclusive value="1900"/>
            <xsd:maxInclusive value="2018"/>
        </xsd:restriction>    
    </xsd:simpleType>

    <xsd:complexType name="complexTypePais">
        <xsd:sequence>
            <xsd:element name="Disco" type="complexTypeDisco" maxOccurs = "unbounded"/>   
        </xsd:sequence>
        <xsd:attribute name="pais" type="xsd:string"/>
        <xsd:attribute name="lang" type="simpleTypeAttlang"/>        
    </xsd:complexType>

    <xsd:simpleType name="simpleTypeAttlang">
        <xsd:restriction base="xsd:string">        
        <xsd:pattern value="[a-z][a-z]"/>
        </xsd:restriction>    
    </xsd:simpleType>

    <xsd:complexType name="complexTypeDisco">    
        <xsd:sequence>
            <xsd:element name="Titulo" type="xsd:string"/>
            <xsd:element name="Premios" type="complexTypePremios"/>
            <xsd:element name ="Interprete" type="xsd:string"/>
            <xsd:element name ="Cancion" type="complexTypeCancion"/>
        </xsd:sequence>
        <xsd:attribute name="idd" type="simpleTypeAttidd"/>
        <xsd:attribute name="langs" type="simpleTypeAttlangs"/>    
    </xsd:complexType>

    <xsd:simpleType name="simpleTypeAttidd">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]-[0-9][0-9][0-9]"/>
        </xsd:restriction>   
    </xsd:simpleType>

    <xsd:simpleType name="simpleTypeAttlangs">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([a-z][a-z] )*"/>
        </xsd:restriction>    
    </xsd:simpleType>

    <xsd:complexType name="complexTypePremios">
        <xsd:sequence>
            <xsd:element name="Premio" type="simpleTypePremio"/>
        </xsd:sequence>                                                    
    </xsd:complexType>
            
    <xsd:simpleType name="simpleTypePremio">
        <xsd:restriction base="xsd:string">        
            <xsd:enumeration value="DiscodeOro"/>
            <xsd:enumeration value="Grammy"/>
            <xsd:enumeration value="LamparaMinera"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="complexTypeCancion">    
        <xsd:sequence>
            <xsd:element name="Titulo" type="xsd:string"/>
            <xsd:element name="Duracion" type="simpleTypeDuracion"/>
            <xsd:element name="Generos" type="complexTypeGeneros"/>
            <xsd:element name="Version" type="complexTypeVersion"/>
        </xsd:sequence>
        <xsd:attribute name="idc" type="simpleTypeAttidc"/>                                                    
    </xsd:complexType>

    <xsd:simpleType name="simpleTypeAttidc">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]-[0-9][0-9][0-9]-[0-9][0-9]"/>
        </xsd:restriction>   
    </xsd:simpleType>

    <xsd:simpleType name="simpleTypeDuracion">
        <xsd:restriction base="xsd:integer">                                            
            <xsd:minExclusive value="0"/>
            <xsd:maxExclusive value="600"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="complexTypeGeneros">
        <xsd:sequence>
            <xsd:element name="Genero" type="simpleTypeGenero"/>
        </xsd:sequence>                                                    
    </xsd:complexType> 

    <xsd:simpleType name="simpleTypeGenero">    
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Rock"/>
            <xsd:enumeration value="Pop"/>
            <xsd:enumeration value="Country"/>
            <xsd:enumeration value="Balada"/>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:complexType name="complexTypeVersion">    
        <xsd:sequence>       
            <xsd:element name="Titulo" type="xsd:string"/>
            <xsd:element name="Idc" type="xsd:string"/>
            <xsd:element name="IML" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="anio" type="xsd:string"/>    
    </xsd:complexType>
    <xsd:element name="Songs" type="complexSongs"></xsd:element>
</xsd:schema>        
        
        <!--<xsd:element name="Songs">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="Anio"/>
                        <xsd:simpleType>
                            <xsd:restriction base="xs:integer">
                                <xsd:pattern value="[0-9][0-9][0-9][0-9]"/>
                                <xsd:minInclusive value="1900"/>
                                <xsd:maxInclusive value="2018"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>                                                                                                               
                    <xsd:element name="Pais" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:attribute name="pais" type="xs:string"/>
                            <xsd:attribute name="lang"/>
                                <xsd:restriction base="xs:string">
                                    <xsd:pattern value="[a-z][a-z]"/>
                                </xsd:restriction>                                
                            <xsd:element name="Disco" type="xs:string" maxOccurs = "unbounded"/>
                                <xsd:complexType>
                                    <xsd:attribute name="idd"/>
                                        <xsd:restriction base="xs:string">
                                            <xsd:pattern name="iddpattern" value="[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9]-[0-9][0-9][0-9]"/>
                                        </xsd:restriction>
                                    <xsd:attribute name="langs"/>
                                        <xsd:restriction base="xs:string">
                                            <xsd:pattern value="([a-z][a-z] )*"/>
                                        </xsd:restriction>
                                    <xsd:sequence>                     
                                        <xsd:element name="Titulo" type="xs:string"/>
                                        <xsd:element name="Premios" type="xs:string"/>
                                            <xsd:complexType>
                                                <xsd:element name="Premio"/>
                                                    <xsd:simpleType>
                                                        <xsd:restriction base="xs:string">
                                                            <xsd:whiteSpace value="preserve"/>
                                                            <xsd:enumeration value="DiscodeOro"/>
                                                            <xsd:enumeration value="Grammy"/>
                                                            <xsd:enumeration value="LamparaMinera"/>
                                                        </xsd:restriction>
                                                    </xsd:simpleType>                                                                                                                                                                            
                                            </xsd:complexType>
                                        </xsd:element>                                                                            
                                        <xsd:element name ="Interprete" type="xs:string">
                                        <xsd:element name ="Cancion" type="xs:string">
                                            <xsd:complexType>
                                                <xsd:attribute name="idc" type="xs:string"/>
                                                <xsd:sequence>
                                                    <xsd:element name="Titulo" type="xs:string"/>
                                                    <xsd:element name="Duracion"/>
                                                        <xsd:simpleType>
                                                            <xsd:restriction base="xs:integer">                                            
                                                                <xsd:minExclusive value="0"/>
                                                                <xsd:maxExclusive value="600"/>
                                                            </xsd:restriction>
                                                        </xsd:simpleType>
                                                    </xsd:element>                                                        
                                                    <xsd:element name="Generos" type="xs:string"/>
                                                        <xsd:complexType>
                                                            <xsd:element name="Genero"/>
                                                                <xsd:simpleType>
                                                                    <xsd:restriction base="xs:string">
                                                                        <xsd:enumeration value="Rock"/>
                                                                        <xsd:enumeration value="Pop"/>
                                                                        <xsd:enumeration value="Country"/>
                                                                        <xsd:enumeration value="Balada"/>
                                                                    </xsd:restriction>
                                                                </xsd:simpleType>
                                                        </xsd:complexType>
                                                    </xsd:element>                                                       
                                                    <xsd:element name="Version" type="xs:string"/>
                                                        <xsd:simpleType>
                                                            <xsd:attribute name="anio" type="xs:string"/>
                                                            <xsd:element name="Titulo" type="xs:string"/>
                                                            <xsd:element name="Idc" type="xs:string"/>
                                                            <xsd:element name="IML" type="xs:string"/>
                                                        </xsd:simpleType>
                                                    </xsd:element>                                                       
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>                                                            
                            </xsd:element>                          
                        </xsd:complexType>
                    </xsd:element>                            
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>-->
 